* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* Header section  */
.nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffc107;
    padding: 15px;
}

.logo > a > img {
    width: 20%;
}

.search {
    display: flex;
    /* flex-wrap: wrap; */
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 12px;
  }

  .search-logo > i {
    margin-top: 0.4em;
    color: grey;
    cursor: pointer;
  }

  .search-logo > i:hover {
    color: #ffc107;
  }


  .input-field > input[type=text] {
    outline: none;
    border: none;
    background: none;
    padding: 1em;
    margin: 1em;
  }


/* Text field  */
.text-field {
    background-color: grey;
    text-align: center;
    padding: 1em;
    margin: 1em;
    color: whitesmoke;
    font-size: 1.5em;
    font-weight: bold;
}


/* Images section  */
.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px;
    gap: 1em;
}

.imageText {
    display: flex;
    flex-direction: column;
}

.image > img {
    max-width: 100%;
}

.text {
    display: flex;
    justify-content: center;
    background-color: #ffc107; 
    font-weight: bolder;
    font-size: large;
    line-height: 2;
}

/* Pagination  */
.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination a.active {
    background-color: blue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {
      background-color: #ddd;
    }

/* -------------------- 
Bottom Section 
--------------------  */
.bottom {
    display: grid;
    grid-template-columns: 1fr 1.2fr repeat(3, 1fr);
    gap: 1em;
    background-color: #ffc107;
    padding: 25px;
    margin: 0px;
    font-size: 1.3em;
}

.logo_address, .about_stuffs, .items, .admin, .contact {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.logoo > a > img {
    max-width: 100%;
}

/* Mobile  */
@media (max-width: 900px) {
    .images {
        grid-template-columns: 1fr;
    }
}