<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/about.css" />
    <title>Rosenwald School | About Page</title>
  </head>
  <body>
    <div class="about">
      <div>
        <center id="heading">About Rosenwald School</center>
      </div>
      <div class="first">
        <div class="image">
          <img src="images/about_img.jpg" alt="" />
        </div>

        <div class="parag">
          <p>
            Julius Rosenwald is “the greatest donor you never heard of,” remarks
            Peter Ascoli in his biography of this unextraordinary,
            extra-ordinary man, who also happens to be his grandfather (cited
            Deutsch ix). Born in 1862, Rosenwald grew up in Springfield,
            Illinois, across the street from Abraham Lincoln’s home.. In 1895,
            Rosenwald and his brother in law Aaron Nussbaum purchased Roebuck’s
            half of Sears and Roebuck after he and his fellow founder parted
            ways - in 1903, Rosenwald bought Nussbaum out. The company made
            millions of dollars, and survives to this day - well known to many
            scholars of American history and culture. But what of Julius
            Rosenwald, the modest and relatively private businessman whose name
            was never part of the company nomenclature?
          </p>

          <p>
            Owing to his Jewish roots, Rosenwald explained, he felt a connection
            to the discrimination faced by African Americans in the United
            States. This had been bolstered by his reading of Booker T.
            Washington’s Up From Slavery. After being introduced to Washington
            at a fundraising event for a Black YMCA, the two forged a
            partnership based on improving the condition of African Americans,
            particularly in the field of education. An “experiment” was launched
            to build six model schoolhouses in Macon County, Alabama.
          </p>
        </div>
      </div>

      <div class="second">
        <div class="parag">
          <p>
            In order to maintain both he and Washington’s ideologies of
            self-help and community involvement, Rosenwald stipulated that he
            would contribute a set amount of funds to each school -this
            contribution was never meant to be the largest portion of aid, but
            rather was meant to act as an incentive, to be supplemented by the
            local African American and white populations, as well as other local
            fundraising bodies. Following the success of this trial, the school
            project expanded, producing architecturally standardized “model”
            schools across the South. By the end of the Rosenwald School Fund in
            1932, the scheme had built almost 5000 schools. Estimates suggest
            that between one in every three to one in every five African
            American schools at the end of the Project were funded in part by
            Julius Rosenwald (others took inspiration from this work, but were
            not considered official Rosenwald schools). As Mary Hoffschwelle
            suggests, the Fund turned Rosenwald into “a household name in
            southern African American communities and an adjective that defined
            a modern school building” (30). How then, can we get Rosenwald and
            the important work of his school fund back into the cultural
            lexicon?
          </p>
        </div>

        <div class="image">
          <img src="images/about_img.jpg" alt="" />
        </div>
      </div>

      <div class="third">
        <div class="parag">
          <p>
            One way in which Rosenwald schools affected the landscape of
            Southeastern states was through the standardized plans that the Fund
            created for school design. The Community Schools Plan document
            featured detailed design figures, and was distributed widely - the
            Rosenwald Fund decided not to put copyright limitations on the
            bulletins so that others (white and black) could emulate the plans
            in their own school building work. Architects at the time saw
            correlation between specific design features, and the quality of
            education that could be provided in such buildings. Designers in
            North Carolina for example, suggested that: “When the room is bright
            and attractive and the air pure, the scholars are always bright and
            attentive, and the teachers can do better work. With a poorly
            lighted room and bad air, the scholars are dull, inattentive and
            irritable.” (Hoffschwelle 54-55) Schools were usually built so that
            sunlight would shine into the one wall sided windows, preventing
            glare for students trying to read and write. Buildings were often
            rectangular, with hipped roofing and distinctive nine-by-nine pane
            gallery windows - these hallmarks are part of what keep the
            structures recognizable to this day. Any proposed Rosenwald school
            must possess at least two acres of land, to enable gardens and play
            areas, as well as allowing for possible extension. Furnishings were
            considered integral to the schoolhouses - desks, blackboards, heat,
            and toilet facilities had to be considered as part of the building
            plans. Some schools built kitchens and shops so that they could
            offer vocational courses and domestic science. The Nashville office
            of the Fund ran a scorecard scheme, which collated points based on
            criteria such as if the school had safe drinking water supply,
            properly constructed roofing, or offered extra curricular activities
            to the community. Winning schools were often awarded a portrait of
            Rosenwald as their prize.
          </p>
        </div>

        <div class="image">
          <img src="images/about_img.jpg" alt="" />
        </div>
      </div>

      <div class="fourth">
        <div class="image">
          <img src="images/about_img.jpg" alt="" />
        </div>

        <div class="parag">
          <p>
            In 2002, Rosenwald schools were collectively added to the Most
            Endangered Historic Sites in America, compiled by the National Trust
            for Historic Preservation. Individual Rosenwald schools have also
            appeared independently, including Pine Grove Elementary School, in
            Virginia, as recently as 2021. The National Trust initiative
            included a digitization grant, which enabled the Julius Rosenwald
            School Fund cards and photographs, held at Fisk University Special
            Collections and Archives, to be compiled in an online database,
            searchable by state and county, teacher number, budget year, and
            name. In 2020, Fisk was awarded a Mellon grant to update this
            database, with plans to move it to a newer content management system
            that will allow for better searchability and user access, as well as
            incorporating data visualization. According to Hoffschwelle, “Black
            southerners viewed Rosenwald schools within a tradition of
            educational activism,” the idea that education was the key to
            liberation (247). In fact, this suggestion is borne out by some of
            the schools’ most famous alumni, including Medgar Evers, John Lewis,
            and Maya Angelou. Rosa Parks remembered Julius Rosenwald visiting
            her school in Montgomery. Although the school was not one funded by
            Rosenwald, “we all knew who he was,” Parks recounted (cited in
            Deutsch 169). Carlotta Walls LaNier, who attended the Dunbar School,
            Pulaski, Arkansas went on to become one of the famous Little Rock
            Nine, integrating Little Rock High School in 1957.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
