<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/school.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Entrire body  -->
    <div class="container">
      <!-- header section -->
      <div class="nav-bar">
        <!-- logo  -->
        <div class="logo">
          <a href="index.html">
            <img src="images/logo.jpg" alt="school logo"
          /></a>
        </div>
        <!-- search bar  -->
        <div class="search">
          <!-- input field  -->
          <div class="input-field">
            <input type="text" placeholder="Search Keyword(s)" size="30" />
          </div>
          <!-- search logo  -->
          <div class="search-logo">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </div>
        </div>
      </div>

      <!-- middle section  -->
      <div class="school">
        <!-- school image  -->
        <div class="school-image">
          <img src="images/school.jpg" alt="school image" />
        </div>
        <!-- school details  -->
        <div class="school-details">
          <div class="row">
            <!-- left topic  -->
            <div class="topic">Historic Name</div>
            <!-- right details  -->
            <div class="details">The historic name is this this..</div>
          </div>

          <div class="row">
            <!-- left topic  -->
            <div class="topic">Current Name</div>
            <!-- right details  -->
            <div class="details">The historic name is this this..</div>
          </div>

          <div class="row">
            <!-- left topic  -->
            <div class="topic">Building Type</div>
            <!-- right details  -->
            <div class="details">The historic name is this this..</div>
          </div>

          <div class="row">
            <!-- left topic  -->
            <div class="topic">Budget Year</div>
            <!-- right details  -->
            <div class="details">The historic name is this this..</div>
          </div>

          <div class="row">
            <!-- left topic  -->
            <div class="topic">Historic Name</div>
            <!-- right details  -->
            <div class="details">The historic name is this this..</div>
          </div>
        </div>
      </div>

      <!-- footer section  -->
      <div class="bottom">
        <!-- logo and address  -->
        <div class="logo_address">
          <!-- Logo section  -->
          <div class="logo">
            <a href="index.html"> <img src="images/logo.jpg" alt="" /></a>
          </div>
          <!-- Address section  -->
          <div class="address">
            <p>1000 17th Avenue N.</p>
            <p>Nashville, TN 37208</p>
          </div>
        </div>

        <!-- about section  -->
        <div class="about_stuffs">
          <p>About Rosenwald Database</p>
          <p>About Fisk University</p>
          <p>About the Developoer Team</p>
        </div>

        <!-- Other items  -->
        <div class="items">
          <p>Library Catalogue</p>
          <p>Special Collections</p>
          <p>Research Guides</p>
        </div>

        <!-- admin  -->
        <div class="admin">
          <p>Admin, Login</p>
        </div>

        <!-- Contact  -->
        <div class="contact">
          <p>Contact Us</p>
          <p>Feedback</p>
        </div>
      </div>
    </div>
  </body>
</html>
